<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form id="create-form" @submit.prevent="handleSubmit">
                    <div class="form-group">
                        <label for="title">Judul</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="Silahkan Masukkan Judul Buku" v-model="form.title" required>
                    </div>
                    <div class="form-group">
                        <label for="author">Pengarang</label>
                        <input type="text" name="author" class="form-control" id="author" placeholder="Silahkan Masukkan Pengarang Buku" v-model="form.author" required>
                    </div>
                    <div class="form-group">
                        <label for="publisher">Penerbit</label>
                        <input type="text" name="publisher" class="form-control" id="publisher" placeholder="Silahkan Masukkan Penerbit Buku" v-model="form.publisher" required>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" name="status" class="form-control" v-model="form.status" required>
                            <option value="">Pilih Status</option>
                            <option>Tersedia</option>
                            <option>Dipinjam</option>
                        </select>
                    </div>
                    <router-link to="/list" class="btn btn-primary">Kembali</router-link>
                    <button type="submit" class="btn btn-success">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    title: '',
                    author: '',
                    publisher: '',
                    status: ''
                }
            }
        },
        methods: {
            handleSubmit() {
                fetch('/api/book', {
                    method: 'POST',
                    body: JSON.stringify(this.form),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    },
                })
                .then(
                    window.location.href = '/list'
                );
            }
        }
    }
</script>