<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form id="update-form" @submit.prevent="handleUpdate">
                    <div class="form-group">
                        <label for="title">Judul</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="Silahkan Masukkan Judul Buku" v-model="form.title" required disabled>
                    </div>
                    <div class="form-group">
                        <label for="author">Pengarang</label>
                        <input type="text" name="author" class="form-control" id="author" placeholder="Silahkan Masukkan Pengarang Buku" v-model="form.author" required disabled>
                    </div>
                    <div class="form-group">
                        <label for="publisher">Penerbit</label>
                        <input type="text" name="publisher" class="form-control" id="publisher" placeholder="Silahkan Masukkan Penerbit Buku" v-model="form.publisher" required disabled>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select id="status" name="status" class="form-control" v-model="form.status" required disabled>
                            <option value="">Pilih Status</option>
                            <option>Tersedia</option>
                            <option>Dipinjam</option>
                        </select>
                    </div>
                    <router-link to="/list" class="btn btn-primary">Kembali</router-link>
                    <button id="btn-edit" @click.prevent="handleEdit()" class="btn btn-warning">Edit</button>
                    <button id="btn-cancel" @click.prevent="handleCancel()" class="btn btn-danger" hidden>Batal</button>
                    <button id="btn-submit" type="submit" class="btn btn-success" disabled>Simpan</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id'],
        data() {
            return {
                form: {}
            }
        },
        methods: {
            handleUpdate() {
                fetch('/api/book/' + this.id, {
                    method: 'PUT',
                    body: JSON.stringify(this.form),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8',
                    },
                })
                .then(
                    window.location.href = '/list'
                );
            },
            getData() {
                fetch('/api/book/' + this.id)
                .then((response) => response.json())
                .then(datas => this.form = datas.data);
            },
            handleEdit() {
                const btnSubmite = document.getElementById('btn-submit');
                const btnCancel = document.getElementById('btn-cancel');
                const btnEdit = document.getElementById('btn-edit');

                btnSubmite.removeAttribute('disabled');
                btnCancel.removeAttribute('hidden');
                btnEdit.setAttribute('hidden', true);

                const title = document.getElementById('title');
                const author = document.getElementById('author');
                const publisher = document.getElementById('publisher');
                const status = document.getElementById('status');

                title.removeAttribute('disabled');
                author.removeAttribute('disabled');
                publisher.removeAttribute('disabled');
                status.removeAttribute('disabled');
            },
            handleCancel() {
                const btnSubmite = document.getElementById('btn-submit');
                const btnCancel = document.getElementById('btn-cancel');
                const btnEdit = document.getElementById('btn-edit');

                btnSubmite.setAttribute('disabled', true);
                btnCancel.setAttribute('hidden', true);
                btnEdit.removeAttribute('hidden');

                const title = document.getElementById('title');
                const author = document.getElementById('author');
                const publisher = document.getElementById('publisher');
                const status = document.getElementById('status');

                title.setAttribute('disabled', true);
                author.setAttribute('disabled', true);
                publisher.setAttribute('disabled', true);
                status.setAttribute('disabled', true);

                this.getData();
            }
        },
        mounted() {
            this.getData()
        }
    }
</script>