<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <router-link to="/create" class="btn btn-primary">Tambah Data Buku</router-link>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Judul</th>
                            <th scope="col">Pengarang</th>
                            <th scope="col">Status</th>
                            <th scope="col" style="width: 200px">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="book, index in books" :key="book.id">
                            <th scope="row">{{index+1}}</th>
                            <td>{{book.title}}</td>
                            <td>{{book.author}}</td>
                            <td>{{book.status}}</td>
                            <td>
                                <router-link :to="detail_uri(book.id)" class="btn btn-info">Detail</router-link>
                                <a @click.prevent="handleDelete(book.id)" class="btn btn-danger">Hapus</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                books: []
            }
        },
        mounted() {
            fetch('api/book')
            .then(response => response.json())
            .then(datas => this.books = datas.data);
        },
        methods: {
            detail_uri(id) {
                return '/detail/' + id;
            },
            handleDelete(id) {
                fetch('/api/book/'+ id, {
                    method: 'DELETE',
                })
                .then(
                    location.reload()
                );
            }
        }
    }
</script>